nav {
    float: right;
    margin: 30px 30px 30px 30px;
}

nav a {
    font-size: 1.5em;
    margin: 10px;
}

#links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

#links hr {
    width: 100%;
    text-align: center;
}

.social-card {
    width: 150px;
    text-align: center;
    border: 1px solid grey;
    padding: 10px;
    /* box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);*/
}

.social-card img {
    width: auto;
    height: 60px;
    max-width: 100px;
}

/*.title-name {
    font-size: 35px;
    color: currentColor;
    padding: 10px;
    display: block;
}
.header {
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
}
.description {
    border-left-width: 2px;
    border-left-color: grey;
    border-left-style: solid;
    padding-left: 10px;
    margin-top: 5px !important;
}
.project-technology {
    border: 0.5px solid grey;
    padding: 3px;
}
.project-technologies {
    line-height: 170%;
}
.demo {
    color: grey;
    font-size: medium;*/
    /* Sets the demo as a superscript a little to the right of the text */
    /*
    display: inline-block;
    vertical-align: super;
    margin-left: 10px;
}*/
