<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/tufte.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
