{% extends "base.html" %}

{% block title %}About me{% endblock %}

{% block content %}
  <article>
    <h1>About me</h1>
    <p class="subtitle">Alberto Carretero</p>
    <section>
      <div class="epigraph">
      <blockquote>
        <p>
          That's funny because if anyone actually did prove the existence of God we'd just tell him “nice proof, Fraa Bly” and start believing in God.
        </p>
        <footer>Neal Stephenson, Anathem</footer>
      </blockquote>
      </div>
      <p>
        I am a very curious person, I enjoy learning about anything especially
        if it is related to computers. As of lately, I am mostly interested in
        <strong>distributed systems</strong> and <strong>storage</strong> but
        in the past I have also enjoyed learning about <strong>programming
        language theory</strong> and about <strong>security</strong>.
      </p>
      <p>
        I currently reside in <strong>Spain</strong>.
      </p>
      <p>
        My personal interests, apart from programming, are reading fiction and
        non fiction, listening to all types of music, cooking and meal prepping
        and sports.
      </p>
      <p>
        You can find my CV <a style="color:#3273dc" href="/files/main.pdf">here</a>
        and my email address is <span style="color: #3273dc">angelalbertoc.r<b>(AT)</b>gmail.com</span>.
        <label for="sn-email" class="margin-toggle sidenote-number"></label>
        <input type="checkbox" id="sn-email" class="margin-toggle"/>
        <span class="sidenote">The email is written like this to prevent bots to crawl the email by identifying the @.</span>
      </p>
    </section>
    <section>
      <h2>Talks</h2>
      <h3>Git gud: how Git works internally (<a href="https://www.youtube.com/watch?v=xLt4Xa5DXk4">video</a>)</h3>
      <p>
      Most developers use Git daily but, despite that, they still find it to be
      a source of frustration. For example, how many times have you created a
      backup of the whole project before attempting to do anything with Git? My
      promise is that you won't have to do that anymore after this talk!
      </p>
      <p>
      I think it all comes down to the mental model we have when working with Git. We
      are not going to cover several hundred Git commands and show pretty pictures of
      commit graphs. We are going to get our hands dirty and explore together how Git
      stores its state on disk inside the .git subdirectory. For each command that we
      run we are going to inspect the results using low-level tools. By covering basic
      operations in this way (git add, git commit, git checkout) you will gain a
      deeper intuition, knowing what is possible and what is not.
      </p>
    </section>
    <section>
      <h2>Links</h2>
      <div id="links">
        <div class="social-card">
          <img src="images/linkedin.png" alt="LinkedIn">
          <hr>
          <p>
            <a href="https://linkedin.com/in/angel-alberto-carretero">@angel-alberto-carretero</a>
          </p>
        </div>
        <div class="social-card">
            <img src="images/github.png" alt="Github">
          <hr>
          <p>
            <a href="https://github.com/letFunny">@letFunny</a>
          </p>
        </div>
    </section>
    <section>
      <h2>About this website</h2>
      <p>
        I have been interested in typography lately and I wanted to try out some ideas on this website. The design is based on
        <a href="https://github.com/edwardtufte/tufte-css">Tufte CSS</a> which, on its own, is based on Edward Tufte books.
        Nevertheless, all the errors in adapting the style to this website are mine.
      </p>
    </section>
  </article>
{% endblock content %}

